.submit{
    width:100%;
    margin: 1rem auto;
    padding: .5rem 1rem;
    border:none;
    border-radius: 7px;
    outline: none;
    background-color: purple ;
    color: inherit;
    cursor: pointer;
}